<html>
    <head>
        <title>Shoe Distribution</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
      <div class='navbar navbar-default' style='text-align: center'>
        <h3><a href='/'>Homepage</a></h3>
      </div>
        <div class="container jumbotron">
            <%= yield %>
        </div>
    </body>
</html>
